#center_content {
    background:white;
    text-align: left;
    font-size:14px;
}
#content_div {
    padding:10px 50px 10px 30px;
}
.title_text {
    font-size:16px;
    font-weight:bold;
}
.plainButton {
    width:140px;
    height:40px;
    background-color: transparent;
    background:none;
    margin:8px 0px;
    border: none;
    font-size: 15px;
    font-weight:normal;
    float:left;
    color:#ffffff;
}
.plainButton:hover {
    background-color: transparent;
    background:none;
}
.plainButton:click {
    background-color: transparent;
    background:none;
}

